<!-- MODAL ADMINLTE - 1.0 -->
<!-- COMO IMPLEMENTAR     -->
<!-- Este bloque de codigo debe incluirse con PHP INCLUDE al final del codigo html, ya que es una ventana que se manipula con el DOM mediante JAVASCRIPT con JQUERY cuyo archivo de manupulacion se llama layout_msg_windows.js y deben de colocarse en la misma carpeta donde este colocado -->

<div class="modal fade " id="msg_modalWindows" >
  <div class="modal-dialog modal-lg ">
    <div class="modal-content " id="modalstyle">
      <div class="modal-header " id="content_title">
        <h4 class="modal-title" id="msgTitle" > </h4>
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body " id="msgContent" >
            <!-- Contenido creado dinamicamente -->
      </div>
      <div class="modal-footer">
        <button type="button" id="btnModal_Close" class="btn btn-default flat" data-dismiss="modal" >Cerrar</button>                
      </div>
    </div>
  </div>
</div>


     